<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>대한민국육군</title>
    <base href="http://mil.k-history.kr">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://mil.k-history.kr/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" media="screen" href="static/bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" media="screen" href="static/css/jeju.css" />
    <link rel="stylesheet" media="screen" href="static/css/register.css" />
</head>
<body>
<div class="wrapper">
    <div class="parallax">
        <div class="motto">
            <div class="container">
                <div class="row">
                    <div class="has-success">
                        <div class="col-md-3 col-xs-12 main-logo">
                            <a href="/"><img src="../static/img/army_logo.gif"/></a>
                        </div>
                        <div class="col-md-9 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-transparent navbar-border" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav">
                <% for(var key in menu){ %>
                <%if(menu[key].subClass){%>
                <li class="dropdown" style="padding:5px;">
                    <button type="button" class="btn btn-light" data-toggle="dropdown">
                        <%= menu[key].label %>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="btn btn-light" onclick="location.href='<%=menu[key].baseUrl%>'">
                                전체
                            </button>
                        </li>
                        <li class="divider"></li>
                        <%for(var sub_key in menu[key].subClass){%>
                        <li>
                            <button type="button" class="btn btn-light" onclick="location.href='<%=menu[key].baseUrl%>/<%=menu[key].subClass[sub_key]%>'">
                                <%= menu[key].subClass[sub_key] %>
                            </button>
                        </li>
                        <%}%>
                    </ul>
                </li>
                <%}else{%>
                <li style="padding:5px;">
                    <button type="button" class="btn btn-light" onclick="location.href='<%=menu[key].baseUrl%>'">
                        <%= menu[key].label %>
                    </button>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<div id="section" class="facets">
    <div class="container">
        <form name="formRegister">
            <!--  입력창 선택-->
            <div class="section">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2 text-left">
                        <label for="selectTitle"><%=param%></label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="dropdown">
                                <button id="selectTitle" class="btn btn-primary btn-fill dropdown-toggle" type="button" data-toggle="dropdown">
                                    입력창 선택 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <%for(var i in inputType){%>
                                    <li><a href="/register/<%=inputType[i]%>"><%=inputType[i]%></a></li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 입력창 선택 끝 -->

            <!-- 일반 패싯 -->
            <div id="normal_facet"></div>
            <!-- 일반 패싯 끝 -->
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" name="register_btn" class="btn btn-primary btn-lg btn-block">저장</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="display:none">
    <div id="total_store" data-store="<%=JSON.stringify(total)%>"></div>
    <div id="register_store" data-store="<%=JSON.stringify(register)%>"></div>
    <div id="subClass_store" data-store="<%=JSON.stringify(subClass)%>"></div>
    <div id="subType_store" data-store="<%=JSON.stringify(subType)%>"></div>
</div>
</body>
<script src="static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/js/register.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</html>